	body{
		font-family: Tahoma, Geneva, sans-serif;
	}
	body,html{
		margin:0;
		padding:0;
		color: #2A2B2A;
	}
	.banner{
		width: 98%;
		padding: 1%;
		margin-bottom: .5%;
		margin-top: .5%;
	}

	.logo{
		width: 7%;
		margin-right: 1%;
		margin-left: 5%;
	}

	.social-icon{
		width: 26px;
		padding: 0;
	}
	.title{
		display: inline-block;
		width: 35%;
		margin-left: 1%;
		margin-top: 2%;
	}

	.nav {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #f04c4c;
	}

	.nav li {
		float: left;
	}

	.nav li a {
		display: block;
		color: black;
		text-align: center;
		padding: 14px;
		text-decoration: none;
		font-weight: bold;
	}

	.nav li a:hover:not(.active) {
		color: white;
	}

	#active {
		color: white;
	}

	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		background-color: white;
	}

	.tile{
		display: none;
		width: 25%;
		margin-left: 4%;
		margin-right: 4%;
		margin-bottom: 2%;
		margin-top: 3%;
	}
	.card:hover {
		box-shadow: 0 15px 21px 0 rgba(0,0,0,0.3);
	}

	.card-footer {
		padding: 2px 16px;
	}
	.card-footer h2 {
		margin-bottom: 0.3rem;
	}

	.card-footer a {
		font-size: .8rem;
	}

	.card-footer p {
		font-size: .9rem;
	}
	.card-header {
		padding: 9px 16px;
		background-color: black;
		font-size: .8rem;
		color: #EAF2E3;
	}

	.tile-link{
		text-decoration: none;
		color: #2A2B2A;
	}
	
	.filter {
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		border-bottom: 3px solid;
		border-color: #3A3A3A;
		background-color: dimgrey;
	}

	.filter li {
		float: left;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.filter li a {
		text-decoration: none;
		color: black;
	}
	
	.filter li a:hover:not(#active) {
		text-decoration: underline;
	}
	
	#activeCat{
		text-decoration: underline;
	}
	
	.show{
		display: inline-block;
	}
	
	.footer {
	   width: 100%;
	   background-color: black;
	   color: white;
	   text-align: center;
	}
	
	.footer p {
		margin: 0;
		padding: 13px;
		font-size: 0.8rem;
	}
	
	.footer a {
		color: #f04c4c;
	}
	.title-box {
		float: left;
		width: 100%;
		background-color: black;
		color: white;
	}
	
	.second-title {
		margin: 0;
		float: left;
		margin-left: 6%;
		font-size: 3.3rem;
		margin-top: 6%;
	}
	
	.about-image {
		width: 20%;
		margin-left: 40%;
		margin-right: 40%;
		margin-top: 4%;
	}
	
	.about-body1 {
		background-color: black;
	}
	
	.about-body2 {
		background-color: #f04c4c;
		padding-bottom: 5%;
	}
	
	.about-body1 p {
		color: white;
		text-align: center;
		width: 55%;
		margin-left: 22.5%;
		margin-right: 22.5%;
	}
	
	.about-body1 p a{
		color: #f04c4c;
	}
	
	.about-header {
		text-align: center;
		color: #f04c4c;
		font-size: 3rem;
		margin-bottom: 1%;
		margin-top: 1%;
	}
	
	.about-subheader {
		text-align: center;
		color: white;
		font-size: 1rem;
	}
	
	.follow-header {
		text-align: center;
		color: black;
		font-size: 2rem;
		margin-top: 0;
		padding-top: 4%;
		margin-bottom: 5%;
	}
	
	.follow-subheading {
		margin: 0;
		color: black;
		text-align: center;
	}
	
	.follow-div {
		display: inline-block;
		width: 20%;
	}
	
	#follow-div-right {
		margin-right: 18%;
	}
	
	#follow-div-left {
		margin-left: 20%;
	}
	
	#youtube-image {
		width: 44%;
		margin-left: 28%;
		margin-right: 28%;
	}
	
	#letterboxd-image {
		width: 85%;
		margin-left: 7.5%;
		margin-right: 7.5%;
	}
	
	#twitter-image {
		width: 45%;
		margin-left: 27.5%;
		margin-right: 27.5%;
	}
	
	.about-favorite-images{
		width: 15%;
		margin-right: 2.3%;
		margin-left: 2.3%;
	}
	.contact-form {
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
	}
	
	.contact-form h2 {
		color: #f04c4c;
	}
	
	.contact-form-inputs {
		width: 100%;
		background-color: lightgray;
		border-color: darkgray;
		height: 26px;
	}
	
	.contact-header {
		color: #f04c4c;
		font-size: 3rem;
		margin-bottom: 1%;
		margin-top: 1%;
			margin-left: 22%;
	}
	.contact-banner-image {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 5%;
	}